html, body, .ng-scope{
    height: 100%;
}

.content{
    padding: 80px 0px;
    text-align:center;
    margin: 0 auto;
    background-image: linear-gradient(to right, #3685b1, #4BA1C2, #3685b1);
}

.textField{
    width: 200px;
    margin: 0 auto;
}

.error{
    color: red;
}

.lx-date-input{
    margin-top: -22px;
}

.card{
    margin: 0 auto;
    width: 800px;
}

.paragraph .text-field{
    width: 200px;
    display: inline-block;
    margin: 20px;
}

.fa-plus, .fa-trash-o ,.fa-pencil{
    cursor: pointer;
}

.text-field-error{
    display: inline-block !important;
    margin-right: 50px;
}

.listeComposant div{
    display: inline-block !important;
    margin: 10px;
   
}
.listeComposant{
     width: 65%;
    margin: 0 auto;
    
}
.listeComposant table{
    width: 100%;
}

.listeComposant, .listeComposant th, .listeComposant td{
    border-collapse: collapse;
    border-style : solid;
    border-color: #dcdcdc;
    border-width: 1px;
}

.listeComposant td{
    height: 28px;
}

table{
    margin: 0 auto !important;
    width: 500px;
}

table td{
    text-align: left;
}

.form-group{
  display: inline-block !important;
}

.addComposantBtn{
    margin-top:50px !important;
    margin-left: 20px !important;
}

.navbar-default{
    background-color: #56b0ca;
    border-color: #56b0ca;
}

.navbar{
    margin-bottom:0px;
}

.navbar-default .navbar-nav > li > a {
    color: #0a3750;
    text-transform: uppercase;
    font-weight: bold;
}

#revenu{
    display: block !important;
}

.titlePersonne{
    text-transform: uppercase;
}
.titlePersonneMontant{
    padding-bottom: 13px;
}

.card > * {
   color: #0c4b6f;
}
