<div class="content">
    <a href="#/add/menage">
        <lx-button lx-type="fab" type="submit" lx-size="xl" lx-tooltip="Ajouter un Menage" lx-tooltip-position="bottom" style="margin-bottom:80px;">
                <i class="mdi mdi-plus"></i>
        </lx-button>
    </a>

    <h2>Ménage</h2>

    <div class="p+" ng-repeat="listeMenage in listeMenages">
        <div class="card" style="width: 300px">
            <div class="p+">
                <strong class="fs-headline display-block">{{listeMenage.name}}</strong>
                <div>{{listeMenage.revenu}} €</div>
            </div>
    
            <div class="card__actions">
                <lx-button lx-color="green" lx-type="flat">Save</lx-button>
                <lx-button lx-color="red" lx-type="flat">Delete</lx-button>
            </div>
        </div>
    </div>
</div>
