<div id="background">
    <div class="content">
        <a href="#/add/projet">
            <lx-button lx-type="fab" lx-size="xl" lx-tooltip="Ajouter un Projet" lx-tooltip-position="bottom" style="margin-bottom:80px; background-color: rgb(169, 224, 124);">
                    <i class="mdi mdi-plus"></i>
            </lx-button>
        </a>

        <h3>Mes projets</h3>

        <div class="p+" ng-repeat="listeProjet in listeProjets">
            <div class="card" style="width: 300px">
                <div class="p+">
                    <strong class="fs-headline display-block">{{listeProjet.name}}</strong>
                    <table style="width:250px">
                        <tr>
                            <th>Composants</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="composant in listeProjet.composantsProjet">
                            <td style="width: 20px">{{composant.name}} :</td>
                            <td style="width: 20px">{{composant.montant}}€ </td>
                            <td style="width: 20px">{{composant.importance}}</td>
                        </tr>
                    </table>
                </div>
        
                <div class="card__actions">
                    <lx-button lx-color="green" lx-type="flat">Edit</lx-button>
                    <lx-button ng-click="deleteProjet()" lx-color="red" lx-type="flat">Delete</lx-button>
                </div>
            </div>
        </div>
    </div>
</div>
