<div class="content">
    <a href="#/add/personne">
        <lx-button lx-type="fab" type="submit" lx-size="xl" lx-tooltip="Ajouter une personne" lx-tooltip-position="bottom" style="margin-bottom:80px; background-color: rgb(169, 224, 124);">
                <i class="mdi mdi-plus"></i>
        </lx-button>
    </a>

    <h3>Personne</h3>

    <div class="p+" ng-repeat="listePersonne in listePersonnes">
        <div class="card" style="width: 400px; border-radius: 6px;">
            <div class="p+">
                <strong class="fs-headline display-block titlePersonne">{{listePersonne.name}}</strong>
                <div class="fs-headline display-block titlePersonneMontant">{{listePersonne.revenu}} €</div>
               
                    <table style="width:355px">
                        <tr>
                            <th>Charges</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="charges in listePersonne.chargesPersonne">
                            <td style="width: 20px">{{charges.name}} :</td>
                            <td style="width: 20px">{{charges.montant}}€ </td>
                        </tr>

                    </table>
               
            </div>
    
            <div class="card__actions">
                <lx-button ng-click="editPersonne()" lx-color="green" lx-type="flat">Edit</lx-button>
                <lx-button ng-click="deletePersonne()" lx-color="red" lx-type="flat">Delete</lx-button>
            </div>
        </div>
    </div>
</div>
