<div class="content">
    <a href="#/add/projet">
        <lx-button lx-type="fab" type="submit" lx-size="l">
                <i class="mdi mdi-plus"></i>
        </lx-button>
    </a>

    <div class="p+" ng-repeat="listeProjet in listeProjets">
        <div class="card">
            <div class="p+">
                <strong class="fs-headline display-block">{{listeProjet.projet}}</strong>
                <div>{{listeProjet.composant_1.name}}</div>
                <div>{{listeProjet.composant_1.montant}}</div>
            </div>
    
            <div class="card__actions">
                <lx-button lx-color="green" lx-type="flat">Save</lx-button>
                <lx-button lx-color="red" lx-type="flat">Delete</lx-button>
            </div>
        </div>
    </div>

</div>
